.footer {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 3fr;
  padding: 40px 0px;
  color: #0A3D62;
  border-top: 1px solid #DEE9F1;

  .brand {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .title {
      font-weight: bold;
    }

    .copyright {
      font-size: 0.8em;
    }
  }

  .secondary {
    display: flex;
    flex-direction: column;
    gap: 1em;

    ul {
      list-style: none;
      display: flex;
      gap: 1em;
    }
  }
}
